html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
}

body {
  margin: 0;
  height: 100%;
  font-size: 100%;
  background-image: linear-gradient(25deg, rgba(160, 0, 0, 0.4), rgba(0, 255, 255, 0.4)),
    url(../img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

/*BOXTEXT*/
.box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}

.box p {
  margin: 0;
}

.box_main-text {
  font-size: 4em;
  color: #fff;
  padding: 20px 0;
}

.box_sub-text {
  font-size: 1.5em;
  color: #fff;
}

/*H1*/
h1 {
  margin: 0;
  font-size: 3em;
  padding: 0;
}

/*H1 BLACK*/
.title {
  border-bottom: 3px solid #eee;
  width: 100%;
  color: #eee;
  font-family: 'Poiret One', sans-serif;
}

/*MAIN*/
#main {
  font-family: 'Poiret One', sans-serif;
  margin: 0;
  height: 100%;
}

/*PROFILE*/
#profile {
  margin: 0;
  min-height: 100%;
  background: rgba(0, 0, 0, .4);
  color: #fff;
}

#profile_box {
  width: 90%;
  height: 80%;
}

#profile_box-in {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/*PROFILE TABLE*/
#profile_box-text {
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 1em;
  text-shadow: 2px 2px 2px #eee;
  padding-top: 10%;
}

#profile_box img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-right: 20px;
}

#profile_box-text th, td {
  padding: 5px 0;
  border-bottom: dotted 1px #eee;
}

#profile_box-text th {
  padding-right: 30px;
  font-size: 1.2em;
}

#profile_box-subtext {
  width: 50%;
  min-width: 30%;
  padding-top: 5%;
  font-size: 1em;
  text-shadow: 2px 2px 3px #eee;
}

#profile_box-subtext p {
  padding: 10px 0;
}

/*SKILL*/
#skill {
  margin: 0;
  min-height: 100%;
  color: #fff;
  text-shadow: 2px 2px 2px #bbb;
}

#skill_box {
  width: 90%;
  height: 80%;
}

#skill_box-in {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1em;
  padding-top: 10%;
}

.skill_box-skill {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px;
  height: 270px;
  background: rgba(0, 0, 0, 0.3);
  width: 560px;
}

.skill_box-main {
  margin: 10px;
}

p.skill_box-des {
  text-align: left;
  width: 400px;
  margin: 10px;
}

p.codename {
  font-family: 'Poiret One', sans-serif;
  font-size: 1.8em;
  padding: 10px 0;
}

/*SKILL IMAGE*/
.skill_box-skill img {
  background: #fff;
  border-radius: 50%;
}

/*STAR LATE*/
.star {
  position: relative;
  display: inline-block;
  font-size: 20px;
}

.star .star-item {
  position: absolute;
  overflow: hidden;
}

.star .star-item:before {
  content: "★★★★★";
  color: #ffcc33;
  text-shadow: none;
}

.star:after {
  content: "★★★★★";
  color: #ccc;
  text-shadow: none;
}

/*WORK*/
#work {
  margin: 0;
  min-height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, .4);
}

#work_box {
  width: 90%;
  height: 80%;
}

#work_box-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

#work_box-in {
  text-shadow: 2px 2px 2px #111;
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

p.work_box-des {
  text-align: left;
  width: 300px;
  margin: auto;
  margin-left: 30px;
}

.work_box-work {
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  height: 300px;
}

span.work_box-title {
  font-family: 'Poiret One', sans-serif;
  font-size: 1.4em;
}

#work_box-in img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  margin: 10px;
}
