html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
}

body {
  margin: 0;
  height: 100%;
  font-size: 100%;
  background-image: linear-gradient(25deg, rgba(160, 0, 0, 0.4), rgba(0, 255, 255, 0.4)),
    url(../img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

/*MASK*/
#mask {
  display: none;
  position: fixed;
  opacity: .3;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*スクロールでフェードイン*/
.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

/*MENU*/
#menu {
  position: fixed;
  z-index: 999;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, .5);
  border-radius: 50%;
  padding: 5px;
  height: 35px;
  width: 35px;
}

#menu_icon,
#menu_icon span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

#menu_icon {
  position: relative;
  width: 35px;
  height: 35px;
}

#menu_icon span {
  position: absolute;
  left: 5px;
  width: 26px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

#menu_icon span:nth-of-type(1) {
  top: 8px;
}

#menu_icon span:nth-of-type(2) {
  top: 16px;
}

#menu_icon span:nth-of-type(3) {
  bottom: 7px;
}

/*active*/
#menu_icon.active {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

#menu_icon.active span:nth-of-type(1) {
  -webkit-transform: translateY(8px) rotate(-45deg);
  transform: translateY(8px) rotate(-45deg);
}

#menu_icon.active span:nth-of-type(2) {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

#menu_icon.active span:nth-of-type(3) {
  opacity: 0;
}

/*メニュー中身*/
#menu_navi {
  background: rgba(0, 0, 0, .6);
  position: fixed;
  height: 100%;
  width: 25%;
  z-index: 888;
  right: 0;
  top: 0;
  display: none;
}

#menu_navi nav {
  font-size: 2em;
  color: #fff;
  padding: 20px;
}

#menu_navi ul {
  list-style: none;
  padding: 0;
}

#menu_navi a {
  text-decoration: none;
  color: #fff;
}

/*BOXTEXT*/
.box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}

.box p {
  margin: 0;
}

/*H1*/
h1 {
  margin: 0;
  font-size: 3em;
  padding: 0;
  font-family: 'Poiret One', sans-serif;
}

/*H1 BORDER*/
.title {
  border-bottom: 3px solid #eee;
  width: 0%;
}

.title.active {
  transition: 1.3s;
  width: 100%;
}

/*MAIN*/
#main {
  font-family: 'Poiret One', sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-text {
  font-size: 4em;
  color: #fff;
  margin: 0;
}

#sub-text {
  font-size: 1.5em;
  color: #fff;
}

/*PROFILE*/
#profile {
  margin: 50px 0;
  min-height: 100%;
  background: rgba(0, 0, 0, .4);
  color: #fff;
}

#profile_box {
  width: 90%;
  height: 80%;
}

#profile_box-in {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/*PROFILE TABLE*/
#profile_box-text {
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 1em;
  text-shadow: 2px 2px 2px #eee;
  padding-top: 5%;
}

#profile_box img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-right: 20px;
}

#profile_box-text th, td {
  padding: 5px 0;
  border-bottom: dotted 1px #eee;
}

#profile_box-text th {
  padding-right: 30px;
  font-size: 1.2em;
}

#profile_box-subtext {
  width: 50%;
  min-width: 30%;
  padding-top: 5%;
  font-size: 1em;
  text-shadow: 2px 2px 3px #eee;
}

#profile_box-subtext p {
  padding: 10px 0;
}

/*SKILL*/
#skill {
  margin: 50px 0;
  min-height: 100%;
  color: #fff;
}

#skill_box {
  width: 90%;
  height: 80%;
}

#skill_box-in {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1em;
  padding-top: 5%;
  text-shadow: 2px 2px 2px #eee;
}

.skill_box-skill {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px;
  height: 270px;
  background: rgba(0, 0, 0, 0.3);
  width: 560px;
  border-radius: 30px;
}

.skill_box-main {
  margin: 10px;
}

p.skill_box-des {
  text-align: left;
  width: 400px;
  margin: 10px;
}

p.codename {
  font-family: 'Poiret One', sans-serif;
  font-size: 1.8em;
  padding: 10px 0;
}

/*SKILL IMAGE*/
.skill_box-skill img {
  background: #fff;
  border-radius: 50%;
}

/*STAR LATE*/
.star {
  position: relative;
  display: inline-block;
  font-size: 20px;
}

.star .star-item {
  position: absolute;
  overflow: hidden;
}

.star .star-item:before {
  content: "★★★★★";
  color: #ffcc33;
  text-shadow: none;
}

.star:after {
  content: "★★★★★";
  color: #ccc;
  text-shadow: none;
}

/*WORK*/
#work {
  margin: 50px 0;
  min-height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, .4);
}

#work_box {
  width: 90%;
  height: 80%;
}

#work_box-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

#work_box-in {
  text-shadow: 2px 2px 2px #ccc;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

p.work_box-des {
  text-align: left;
  width: 300px;
  margin-left: 30px;
}

.work_box-work {
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 300px;
}

span.work_box-title {
  font-family: 'Poiret One', sans-serif;
  font-size: 1.4em;
}

#work_box-in img {
  width: 150px;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  transition: .4s;
}

#work_box-in img:hover {
  transform: scale(1.2);
  opacity: .6;
}
